<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>引継一覧表</title>
</head>
<body>
<!-- 引継を一覧形式で表示-->
<table border="1">
  <tr>
    <th>引継ID</th>
    <th>タグ</th>
    <th>関連チケットID</th>
    <th>引継内容</th>
    <th>タイトル</th>
    <th>引継開始日付</th>
    <th>引継終了日付</th>
    <th>重要度</th>
    <th>作成日</th>
    <th>最終更新日</th>
    <th>責任者ID</th>
    <th>作成者ID</th>
    <th>担当者ID</th>
    <th>完了確認</th>  
  </tr>
	<tr th:each="task : ${taskLoad}">
      <td th:text="${task.takeOverId}"></td>
      <td th:text="${task.tag}"></td>
      <td th:text="${task.relatedTicketId}"></td>
      <td th:text="${task.takeOverMemo}"></td>
      <td th:text="${task.title}"></td>
      <td th:text="${task.startDate}"></td>
      <td th:text="${task.endDate}"></td>
      <td th:text="${task.importance}"></td>
      <td th:text="${task.createDate}"></td>
      <td th:text="${task.latestUpdateDate}"></td>
      <td th:text="${task.assignerId}"></td>     
      <td th:text="${task.issuerId}"></td>
      <td th:text="${task.assigneeId}"></td>           
      <td th:text="${task.confirmation}"></td>                  
  </tr>
		
</table>

	<form th:action="@{/memo}"method = "get">
		<button>登録画面</button>
	</form>	

	<form th:action="@{/knowledge}"method = "get">
		<button>ナレッジ一覧</button>
	</form>	

	<form th:action="@{/serchtask}" method = "get">
		<button>引継検索画面</button>
	</form>

	<form th:action="@{/}"method = "get">
		<button>ログイン画面に戻る</button>
	</form>	

</body>
</html>